.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f3e0fa;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.current .today {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.current .main-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.current li {
  color: #fb80f9;
  text-transform: capitalize;
  position: relative;
  text-align: center;
  margin: 5px 0;
}

.current .first {
  font-size: 60px;
  margin-right: 20px;
}

.current .image {
  position: relative;
  top: -10px;
  margin-right: 20px;
}

.current .third {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fb80f9;
}

.current ul {
  list-style: none;
  opacity: 0.7;
  padding: 0;
}
