.current {
  display: flex;
}
.current ul.today {
  display: inline;
}

.current .first {
  color: #fcf1fd;
  font-size: xxx-large;
  position: relative;
  left: 50px;
  top: -45px;
}
.current .second {
  position: relative;
  color: #fcf1fd;
  font-size: large;
  position: relative;
  left: 300px;
  margin: 0% auto;
  top: -135px;
}

.current .third {
  text-transform: capitalize;
  color: #fcf1fd;
  font-weight: 30;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  position: relative;
  top: -130px;
  left: 300px;
}
.current .description {
  text-transform: capitalize;
  top: 50px;
}
.current .humidForecast {
  position: relative;
  top: -50px;
  right: -400px;
}
.current span.humid {
  color: rgb(172, 134, 241);
}
.current .Wind {
  position: relative;
  top: -50px;
  right: -450px;
}

.current span.windSpeed {
  color: rgb(172, 134, 241);
}
.current ul {
  list-style: none;
  opacity: 0.7;
}
