.Forecast .weather-forecast {
  display: flex; /* flexbox for alignment */
  overflow-x: auto; /* Enables horizontal scrolling */
  padding: 20px 0;
  background: linear-gradient(
    106.5deg,
    rgba(255, 215, 185, 0.91) 23%,
    rgba(223, 159, 247, 0.8) 93%
  );
}

.Forecast .col {
  flex: 0 0 auto;
  width: 18%;
  box-sizing: border-box;
  position: relative;
  border: 1px solid rgba(254, 196, 250, 0.1);
  border-radius: 40px;
  background-color: #f3e0fa;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s; /* transition for hover effects */
}

.Forecast .col:hover {
  transform: scale(1.1); /* Slightly increases the size on hover */
  background-color: #f7eefd;
}

.Forecast .row {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to keep all items in a single row */
}

.Forecast .forecastEmoji {
  width: 50px;
  height: 50px;
  transition: transform 0.2s; /* Transition for hover effect */
}

.Forecast .forecastEmoji:hover {
  transform: scale(1.2); /* Slightly increases the size on hover */
}

.Forecast .temp {
  color: #f28fff;
  position: relative;
}
