.Form {
  text-align: center;
  margin: 50px auto;
}

.Form .form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form .form-control {
  border: 1px solid #f6bfff;
  background-color: #f3e0fa;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.Form button {
  color: white;
  border: none;
  background-color: #f3e0fa;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
}

.Form button:hover {
  cursor: pointer;
  background-color: #fed8ff;
}
