.App {
  font-family: sans-serif;
  text-align: center;
}

.square {
  box-shadow: 10px 10px 8px #c8c6c6;
  border-radius: 10px;
  background-color: #ffff;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #ffff;
  padding: 20px 30px 20px 30px;
  max-width: 650px;
  min-width: 600px;
}

button {
  display: block;
  position: relative;
  top: -40px;
  right: -260px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0p;
}

hr {
  margin: 0% auto;
}
